@import 'tailwindcss';

:root {
  --bg: #eaeaea;
  --text: #16181d;
  --primary: #f0f0f0;
  --accent: #916cad;
}

html.dark {
  --bg: #14121a;
  --text: #98989f;
  --primary: #191c25;
  --accent: #916cad;
}

@theme {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

body {
  background-color: var(--bg);
  color: var(--text);
}