@import 'tailwindcss';

:root {
  --color-bg: 255 255 255;
  --color-text: 22 24 29;
  --color-primary: 240 240 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: 22 24 29;
    --color-text: 237 237 237;
    --color-primary: 25 28 37;
  }
}

body {
  background: rgb(var(--color-bg));
  color: rgb(var(--color-text));
}
